@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Playwrite+NO:wght@100..400&display=swap");
@import "tailwindcss";
@import "./animation.css";

@theme {
    --font-body: "Karla", sans-serif;
    --font-title: "Playwrite NO", cursive;
    --font-item: "Inconsolata", monospace;

    /*Base*/
    --color-bgPink: #f2bfdb;
    --color-bgLightPink: #fbedf4;
    --color-bgDarkPink: #f283bf;
    --color-bgGray: #726c6e;
    --color-bgLightGray: #e5eed9;
    --color-bgDarkGray: #443d3f;
    --color-bgYellow: #fefbc6;
    --color-bgGreen: #5bebb6;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font-body);
    color: var(--color-bgDarkGray);
    font-size: 14px;
}

button {
    cursor: pointer;
}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}